@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #e6e6ff;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
.animateButton {
  animation-duration: 10000ms;
}
/* timepass for main categories div just add animated and any animation*/
/* .animated {
  animation-iteration-count: 2;
  -ms-zoom-animation: initial;
} */
.ql-container {
  border: none !important;
}
.ql-toolbar {
  border: none !important;
}
.ql-editor {
  border: none !important;
}
